{{!-- <div class="group">
    <div class="fixed-action-btn">
        <a href="/decks/add" class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-plus"></i></a>
    </div>
    <div class="fixed-action-btn">
        <a href="/decks/add" class="btn-floating btn-large waves-effect waves-light green"><i class="fas fa-scroll"></i></a>
    </div>
</div> --}}

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="fas fa-plus"></i>
  </a>
  <ul>
    <li><a href="/decks/add" class="btn-floating blue"><i class="fas fa-layer-group fa-small"></i></a></li>
    <li><a href="/game_records/add" class="btn-floating green"><i class="fas fa-scroll fa-small"></i></a></li>
  </ul>
</div>
